<ion-content>
  <ion-tabs style="height:60px; background-color: green; text-align: center;">
    <ion-row style="padding-right:30%; padding-left: 30%">
      <ion-col class="tab">
        <ion-tab-button>
          <ion-label [ngClass] = "{
            'selected': itemList === 'Cats'
          }"
          (click) = modifyItemList(1)
          >Cats</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col class="tab">
        <ion-tab-button>
          <ion-label
          [ngClass] = "{
            'selected': itemList === 'Dogs'
          }"
          (click) = modifyItemList(2)
          >Dogs</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col class="tab">
        <ion-tab-button>
          <ion-label
          [ngClass] = "{
            'selected': itemList === 'Yellow Flowers'
          }"
          (click) = modifyItemList(3)
           >Flowers</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row> 
  </ion-tabs>

  <div *ngIf ="!showImageInfo" style="text-align: left; margin-left: 20px; border:none; ">
    <input placeholder="Search By Tags" [(ngModel)]="text" (keyup)="FilterImagesOnSearch($event)">
  </div>
    
  <ion-row *ngIf ="!showImageInfo" style="margin-top: 20px">
    <ion-col *ngFor="let item of filteredHits;" size-lg="3" size-xs ="12" size-md = "4" size-sm = "6"  style="text-align: center;"> 
      <ion-card style="height: 220px" (click) = "getImageInfo(item)">
        <ion-card-content>
          <p style="font-weight: bold;">{{item.tags}}</p>
          <img style = "height: 110px; width: 200px ; text-align: center; margin-top: 20px" [src]="item.previewURL">
          <p>Author: {{item.user}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <div *ngIf = "showImageInfo">
    <ion-card style=" margin-top: 80px">
      <ion-card-content>
        <div class = "closeIcon" (click) = "closeImageInfo()">
          <img  src="/assets/highlight_off-24px.svg">
        </div>
        <div>
          <img Style = "height: 500px; width: 1000px" src = "{{largeImageURL}}">
        </div>
    
        <div style = "display:inline-block">
          <ul>
            <li>User: <b>{{ userName }}</b></li>
            <li>User_id: <b>{{  userId }} </b></li>
            <li>views: <b>{{ views }}</b></li>
            <li>downloads: <b>{{ downloads }}</b></li>
            <li>favorites: <b>{{ favorites }}</b></li>
            <li>likes: <b>{{ likes }}</b></li> 
            <li>Comments: <b>{{ comments }}</b></li>     
          </ul>
        </div>
      </ion-card-content>
    </ion-card>

  </div> 

</ion-content>


